<div class="wrap" style="margin-top: 50px; margin-left: 50px;">
    <div class="supsystic-social-sharing">
        <a href="#" class="social-sharing-button without-counter">
            <i class="fa fa-fw fa-share-alt"></i>

            <div class="counter-wrap standard">
                <span class="counter">1234</span>
            </div>
        </a>

        <a href="#" class="social-sharing-button counter-standard">
            <i class="fa fa-fw fa-share-alt"></i>

            <div class="counter-wrap standard">
                <span class="counter">1</span>
            </div>
        </a>

        <a href="#" class="social-sharing-button counter-white-arrowed">
            <i class="fa fa-fw fa-share-alt"></i>

            <div class="counter-wrap white-arrowed">
                <span class="counter">1</span>
            </div>
        </a>

        <a href="#" class="social-sharing-button counter-white-arrowed">
            <i class="fa fa-fw fa-share-alt"></i>

            <div class="counter-wrap white-arrowed">
                <span class="counter">1234</span>
            </div>
        </a>

        <a href="#" class="social-sharing-button counter-arrowed">
            <i class="fa fa-fw fa-share-alt"></i>

            <div class="counter-wrap arrowed">
                <span class="counter">1234</span>
            </div>
        </a>
    </div>

    <div class="clear"></div>
</div>
<div class="clear"></div>

